<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student registration form</title>
</head>
<body>
 <form th:action="@{/process_form}" method="POST" th:object="${student}">
     <label>
         FirstName:  <input type="text" th:field="*{firstName}" placeholder="Enter First Name"/>
     </label>
     <br><br>
     <label>
         LastName:<input type="text" th:field="*{lastName}" placeholder="Enter Last Name"/>
     </label>
     <br><br>
         Country:
     <select th:field="*{country}">
         <option th:value="Brazil">Brazil</option>
         <option th:value="India">India</option>
         <option th:value="Portuguese">Portuguese</option>
         <option th:value="America">America</option>
         <option th:value="Hungary">Hungary</option>
         <option th:value="Estonia">Estonia</option>
     </select>

     <br><br>
     <input type="submit" value="submit"/>
 </form>
</body>
</html>